@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

/* subject-container */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.subject-box {
    border: 1px solid #d8d8d8;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

    .subject-box:hover {
        transform: scale(1.05);
        background-color: #e2e2e2; /* Change color on hover */
    }

    .subject-box h4 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        color: #333;
    }

    /* Add hover effect */
    .subject-box:hover {
        transform: translateY(-5px);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    }

/* Add transition for smoother effect */
.subject-box {
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

/* no underline a href */

.no-underline {
    text-decoration: none;
}

a {
    text-decoration: none;
}


/* SubjectDetails.razor component */

.box-details {
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .box-details h4 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .box-details p {
        font-size: 18px;
        line-height: 1.6;
        color: #555;
    }

/* Optional: Add a back button */
.back-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .back-button:hover {
        background-color: #0056b3;
    }

.centered-container {
    display: flex;
    justify-content: center;
}


/* box-details UI */

.box-details {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .box-details h4 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .box-details form {
        margin-top: 20px;
    }

    .box-details input[type="text"] {
        padding: 10px;
        font-size: 16px;
        width: calc(100% - 100px);
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

    .box-details .button-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .box-details button[type="submit"],
    .box-details button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .box-details button[type="submit"] {
            background-color: #007bff;
        }

    .box-details button {
        background-color: #dc3545;
        margin-left: 10px;
    }

        .box-details button:hover {
            background-color: #bb2d3b;
        }


.topic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .topic-table th, .topic-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    .topic-table th {
        background-color: #f5f5f5;
    }

.box-details form {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.box-details input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    flex-grow: 1;
}

.transparent-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.beautiful-button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to right, #4e8ef7, #7c66f5);
    color: #ffffff;
    border: 1px solid #4e8ef7;
    transition: background 0.3s;
}

    .beautiful-button:hover {
        background: linear-gradient(to right, #7c66f5, #4e8ef7);
    }

.beautiful-textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
    color: #333;
    resize: vertical;
}

.beautiful-textarea:focus {
    outline: none;
    border: 1px solid #4e8ef7; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(78, 142, 247, 0.5); /* Add a subtle box shadow on focus */
}

.non-editable-textarea {
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line spacing as needed */
}

.non-spinning-gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 100vh;
    animation: gradient 15s ease infinite;
}

.spinning-gradient {
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




